
{% extends "index/base.html" %}



{%block content%}
{% include "index/navbar.html" %}

{% load static %}

<section class="bgimg-1">
<div class="w3-center">
<img src="{% static 'index/back1.png' %}" max-height=120% width=auto style="border-radius: 90%" />
</div>
<div class="w3-center">
<h1 style="padding-top: 30px;color: white;">Enter your question here!</h1>

<textarea  rows="3" cols="60" style="border-radius:10%;font-size:1.5em;" id="text"></textarea>
<button style="position:relative;" id="sub"> Submit</button>

</div>
<div id="ans" class="w3-center" style="display:none;font-size:1.5em;color:white;padding-top:20px;">
{{foo}}
</div>
</section>


<div class="w3-center">
<h2 style="padding-top: 30px;color:green;">Or choose one from the examples below.Click the buttons to visit a particular category.</h2>
<div><button id="but">Simple Interest</button>
<button id="but1">Word Problem</button>
</div> </div>
<div class="container-fluid" style="padding: 20px;">
<div class="row ">
<div class="col-sm-3"></div>
<div class="col-sm-6" id="demo" style="display:none"> 
  
 <h2 class="wow animated fadeInDown" style="color:green;"> Examples</h2>


 <ul id="list" class="red">
 <div><li> What sum of money will earn an interest of $162 in 3 years at the rate of 12% per annum?</li></div>
 <div><li>How much time will it take for an amount of $900 to yield $81 as interest at 4.5% per annum of simple interest?</li></></div>
 <div><li>A sum fetched a total simple interest of $929.20 at the rate of 8% in 5 years. What is the sum?</li></></div>
 <div><li  >$10,000 is invested at 5% interest rate in 1 year. Find the interest.</li></></div>
 <li >$3,500 is given at 7% p.a. rate of interest. Find the interest which will be received at the end of two years.</li></>
 <li >If Manohar pays an interest of $750 for 2 years on a sum of $4,500, find the rate of interest.</li>
 
 </ul>


 
</div>
<div class="col-sm-6" id="word" style="display:none"> 
  
 <h2 class="wow animated fadeInDown" style="color:green;"> Examples</h2>


 <ul  id="list" class="red">
 <div><li> I have 2 banana .I give 1 banana to my brother.How many am I left with?</li></div>
 <div><li>How much time will it take for an amount of $900 to yield $81 as interest at 4.5% per annum of simple interest?</li></></div>
 <div><li>A sum fetched a total simple interest of $929.20 at the rate of 8% in 5 years. What is the sum?</li></></div>
 <div><li  >$10,000 is invested at 5% interest rate in 1 year. Find the interest.</li></></div>
 <li >$3,500 is given at 7% p.a. rate of interest. Find the interest which will be received at the end of two years.</li></>
 <li >If Manohar pays an interest of $750 for 2 years on a sum of $4,500, find the rate of interest.</li>
 
 </ul>


 
</div>
<div class="col-sm-3"></div>
</div>
</div>

<!--<div class="w3-center bgimg-1" style="background-color: white;padding:20px;height: 100px;width:70%">
DILTON
Enter your question here.

<

</div> -->
<hr>
<hr>
<div class="w3-center">
<h1 id="mot" style="padding-top:20px;text-align: center;">Motivation </h1>
add text here 
</div>  

<hr>
<hr>
<h1 id="team" style="padding-top:20px;text-align: center;">The Team </h1>
<div class="row">
<div class="column"></div>
  <div class="column">
    <div class="card">
    
      <img src="{% static 'index/fr.jpg' %}" alt="Jane" style="width:100%;" />
      <div class="container">
        <h2>Purvanshi Mehta</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes/</p>
        <p>example@example.com</p>
    
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'index/fr.jpg' %}" alt="Mike" style="width:100%" />
      <div class="container">
        <h2>Mr. tom</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes.s</p>
        <p>example@example.com</p>
    
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'index/fr.jpg' %}" alt="John" style="width:100%" />
      <div class="container">
        <h2>Mr. Jerry</h2>
        <p class="title">Designer</p>
        <p>Some text that describes.</p>
        <p>example@example.com</p>
    
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>





{%endblock%}





