
{%block content%}

<div class="w3.top">
<nav class="navbar navbar-default top-bar fixed" style="font-weight:bold;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DILTON</a>
    </div>
    <ul class="nav navbar-nav w3-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#mot">Motivation</a></li>
      <li><a href="#">Current Research</a></li>
      <li><a href="https://github.com/purvanshi/isolvemath">GitHub</a></li>
      <li><a href="#team">The Team</a></li>
    
    </ul>
  </div>
</nav> 
</div>


{%endblock%}




